<h1>GitHub Users for Pull Request #<%= @pull_request.number %></h1>

<ul>
  <% @pull_request_users.each do |pull_request_user| %>
    <li><%= link_to pull_request_user.user.username, user_path(pull_request_user.user) %> (<%= pull_request_user.role %>)</li>
  <% end %>
</ul>

<%= paginate @pull_request_users %>
