<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon" style="background-color: white; padding: 5px 10px; border-radius: 8px; box-shadow: 0 2px 4px rgba(0,0,0,0.1); margin-top: 12px;">
            <%= image_tag "prmetrics_logo.svg", alt: "prmetrics.io", class: "img-fluid", style: "max-height: 80px; max-width: 160px;" %>
        </div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Data
    </div>

    <!-- Nav Item - Repositories -->
    <li class="nav-item">
        <a class="nav-link" href="<%= repositories_path %>">
            <i class="fas fa-fw fa-code-branch"></i>
            <span>Repositories</span></a>
    </li>

    <!-- Nav Item - GitHub Users -->
    <li class="nav-item">
        <a class="nav-link" href="<%= users_path %>">
            <i class="fas fa-fw fa-users"></i>
            <span>GitHub Users</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Administration
    </div>

    <!-- Nav Item - Admins -->
    <li class="nav-item">
        <a class="nav-link" href="<%= admins_path %>">
            <i class="fas fa-fw fa-user-shield"></i>
            <span>Admins</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
