<h1>Reviews for Pull Request #<%= @pull_request.number %></h1>

<ul>
  <% @reviews.each do |review| %>
    <li><%= link_to "Review ##{review.id}", review_path(review) %></li>
  <% end %>
</ul>

<%= paginate @reviews %>
