<h1>Review #<%= @review.id %></h1>

<p>State: <%= @review.state %></p>
<p>Submitted at: <%= @review.submitted_at %></p>

<%= link_to 'Back to Pull Request', pull_request_path(@review.pull_request) %>
